.container {
  display: grid;
  grid-template-rows: 10% 70% 20%;
  height: 100vh;
  grid-template-areas:
    "header header header header header header"
    "main main main main sidebar sidebar"
    "footter footter footter footter footter footter";
}
.header {
  background-color: rgb(201, 201, 201);
  grid-area: header;
  align-items: center;
  justify-items: center;
  display: grid;
}
.p {
  align-self: center;
  justify-self: center;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

.gridcontainer {
  grid-area: main;
  background-color: rgb(255, 248, 233);
  display: grid;
  grid-template-rows: 70% 30%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "content-1 content-2"
    "content-3 content-3";
}
.content-1 {
  grid-area: content-1;
  display: grid;
  background-color: rgb(255, 232, 202);
  align-self: end;
  align-content: center;
  justify-content: center;
  justify-self: center;
  height: 30%;
  width: 90%;
}

.content-2 {
  grid-area: content-2;
  display: grid;
  background-color: rgb(255, 232, 202);
  align-self: end;
  align-content: center;
  justify-content: center;
  justify-self: center;
  height: 30%;
  width: 90%;
}

.content-3 {
  grid-area: content-3;
  display: grid;
  background-color: rgb(255, 232, 202);
  align-self: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  height: 60%;
  width: 95%;
}
.footter {
  grid-area: footter;
  background-color: rgb(201, 201, 201);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.sidebar {
  grid-area: sidebar;
  background-color: rgb(216, 253, 216);
  display: grid;
  justify-content: center;
  align-content: start;
}

.content-2-1 {
  background-color: white;
  display: grid;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  height: 70%;
  width: 90%;
}
.content-2-2 {
  background-color: white;
  display: grid;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  height: 70%;
  width: 90%;
}
.content-2-3 {
  background-color: white;
  display: grid;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  height: 70%;
  width: 90%;
}
.content-2-4 {
  background-color: white;
  display: grid;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
  align-content: center;
  justify-content: center;
  height: 70%;
  width: 90%;
}
